@use "../../styles/abstracts/" as *;

.adCard {
  max-width: 850px;
  padding: 40px 10px;
  background-color: mix($primary, white, 30%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  gap: 30px;
  .description {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    p {
      max-height: 100px;
      overflow: hidden;
    }
    width: 40%;
    max-height: 250px;
    @media screen and (max-width: 1354px) {
      width: 90%;
    }
  }
  .btn_area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    object-fit: cover;
  }
  .badge_div {
    max-height: 200px;
  }
  .hashtag {
    margin: 5px;
    padding: 7px;
    height: 30px;
    width: auto;
    border-radius: 10px;
    background-color: rgb(164, 219, 222);
  }
  .price {
    margin: 5px;
    padding: 7px;
    height: 30px;
    width: auto;
    border-radius: 10px;
    background-color: rgb(144, 187, 214);
  }
}
