@use "./abstracts" as *;
@use "./components/Button" as *;
@use "./components/Card" as *;

* {
  font-family: $mainFont;
  margin: 0;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(254, 254, 254);
  color: mix($secondary, black, 20%);
}
.page_body {
  margin: 100px 10px 20px 10px;
  padding: 50px 0px 200px 0px;
  min-height: 43.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: pre-line;
}

button {
  @include button($primary, $secondary);
}
.card_info_btn {
  @include cardButton($info, $dark);
}
.card_danger_btn {
  @include cardButton($danger, $light);
}
.only_mobile {
  @media screen and (min-width: 820px) {
    display: none;
  }
}
.no_display {
  display: none;
}

h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-weight: 400;
  font-size: 1.3rem;
}
h4 {
  font-weight: 400;
  font-size: 1.1rem;
}
h5 {
  font-weight: 400;
  font-size: 1rem;
}
input {
  height: 40px;
  border: none;
  font-size: 1.1rem;
  display: flex;
  outline: none;
  background-color: transparent;
}
.form__field {
  display: flex;
  border: none;
  align-items: center;
  padding: 15px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  cursor: pointer;
}
.search__icon {
  width: 40px;
}
.form__option:hover {
  background-color: aliceblue;
}

.disabled {
  filter: grayscale(100);
  cursor: default;
  &:hover {
    transform: none;
  }
}
.card {
  @include card;
}
::-webkit-scrollbar {
  width: 10px;
  height: 80%;
}
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 20px;
}
.avatar_photo {
  border-radius: 50%;
  width: 180px;
  margin-bottom: 30px;
  height: 180px;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
}
.object_pic {
  border-radius: 15px;
  max-width: 200px;
  height: 200px;
  margin-bottom: 30px;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
}
.spinner {
  width: 100px;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
