@use "../../../common/styles/abstracts/" as *;

.chat {
  flex: 4.5;

  .chatInfo {
    height: 50px;
    background-color: rgb(0, 2, 57);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: lightgray;

    .toggle_partner_list_btn {
      cursor: pointer;

      img {
        width: 30px;
      }
    }
  }
}
.mobile_partner_list_menu {
  overflow: scroll;
  position: absolute; 
  z-index: 99; 
  top: 100px;
  margin-top: 87px;
  padding-bottom: 40px;
  left: 0; 
  width: 100vw;
  height: fit-content;
  max-height: 70vh;
  background-color: mix($secondary, black, 90%);
}
