.fade-in-left {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
}
.fade-out-left {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.fade-in-right {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
}
.fade-out-right {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s;
}
.fade-in {
  opacity: 1;
  filter: blur(0);
}
.fade-out {
  opacity: 0;
  filter: blur(5px);
}
