@use "../../../../common/styles/abstracts/" as *;
@use "../../../../common/styles/components/Card.scss" as *;

.myaccount {
  width: 80%;
  padding-top: 70px;
  margin-bottom: 150px;
  section {
    gap: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .card {
      @include card;
    }
  }
}
