@use "./variables" as *;

@mixin center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin box-shadow{
    box-shadow: 0px 0px 20px -5px mix($primary, white, 30%);
}


///Breakpoints

@mixin mobile {
    @media screen and (max-width: 480px) {
      @content;
    }
  }
  @mixin tablet {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
  @mixin laptop {
    @media screen and (max-width: 1200px) {
      @content;
    }
  }