@use "../../styles/abstracts" as *;
@use "../../styles/components/Button.scss" as *;
.banner {
  margin-top: -$headerHeight;
  height: 100vh;
  @include center;
  @media screen and (max-height: 700px) {
    min-height: 730px;
  }
  .no_display {
    display: none;
  }
  .background {
    background: url("https://images.pexels.com/photos/3912516/pexels-photo-3912516.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") left center;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: brightness(65%);
    @media screen and (max-width: 575.98px) {
      background-position: -100px 0px;
    }
  }
  .content {
    position: absolute;
    text-align: center;
    max-width: 1200px;
    z-index: 2;

    @media screen and (max-width: 1068px) {
      width: 90%;
      top: 32%;
    }
  }
  .title {
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 76px;
    line-height: 80px;
    color: $light;
  }
  .subtitle {
    color: $light;
    width: 100%;
    font-size: 30px;
    font-weight: 200;
    line-height: 38px;
    letter-spacing: 0em;
    position: relative;
  }
  button {
    @include button($primary, $secondary);
    align-self: center;
    margin-top: 50px;
    font-size: 1.2rem;
    width: 250px;
  }
}
