@use "../../../common/styles/abstracts/" as *;

header {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: $background;
  top: 0;
  height: $headerHeight;
  z-index: 20;
  .logo {
    object-fit: contain;
    height: 50px;
    margin-left: 20px;
    cursor: pointer;
    transition: filter 100ms ease-in;
  }
  .right_div {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    .avatar_wrapper {
      background-color: $primary;
      width: 60px;
      display: flex;
      justify-content: space-between;
      border-radius: 25px;
      padding: 5px 10px;
      cursor: pointer;
      transition: background-color, color 0.5s ease;
      &:hover {
        background-color: $secondary;
        color: $light;
      }
      .avatar {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 100%;
      }
    }
  }

  .profile_menu {
    position: absolute;
    top: 80px;
    background-color: $background;
    border-radius: 0px 0px 0px 20px;
    width: 200px;
    overflow: hidden;
    border: 10px solid rgb(0, 25, 45);
    .item {
      border-radius: 25px;
      text-align: center;
      padding: 10px;
      color: $light;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: $secondary;
      }
    }
  }
}
